@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #111111;
}

.dark {
  --background: #111827;
  --foreground: #f3f4f6;
}

body {
  background: var(--background);
  color: var(--foreground);
}